<h1>Listing shits</h1>

<table>
<% @shits.each do |shit| %>
  <tr>
    <td><h2><%= "shit " + shit.name + " !!!!!!" %></h2></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shit', new_shit_path %><br><br>
<%= link_to "home", root_path %>
