音楽が大好きです。<br><br>
あと、数学と遊びが好き。<br><br>
お金稼ぐためにweb(rails)とか株かじってます。<br><br>
音楽、数学、遊び、web、株の話しで感心した事をまとめて<br><br>
忘備録として使っていきたいかなと。<br><br>
作りたいと思ってる下らないwebアプリ(オナ禁アプリとか)がたくさんあるので<br><br>
成果物とかもあげてきたいかなと。<br><br>
デザイン全く出来ないのでその内wordpress入れます。<br><br>
って今は思ってるけど、<br><br>
一時のテンションで作ったやつだから暫くこのまま放置されると思われる。<br><br>

<h1>5分で作ったやつ</h1>
<h2><%= link_to "羊を数えるだけ", sheep_path %></h2>
説明:眠れないとき使ってね<br><br>

<h1>10分で作ったやつ</h1>
<h2><%= link_to "shit ○○", shits_path %></h2>
説明:本当はfuck ○○が良かったんだけど、表現を控えめにしてshit<br>
黙らせたい人の名前を入れてね.
