// Place all the styles related to the texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	font-size: 20px;
	color: #222222;
	font-family: 'Electrolize', sans-serif;
}

div.text_item {
	width: 600px;
}

div.text_contents {
	
}