%h1 備忘録だったり、ブログだったり
%br
- @texts.each do |text|
  .text_item.clearfix
    .icon= link_to fa_icon('file-text-o'), text_path(text)
    %h2= text.title

= link_to 'New Text', new_text_path
%br
%br
= link_to 'Back', root_path