<!DOCTYPE html>
<html>
	<head>
	  <title>うんこなう。</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

			<div class="inside"> 
			  <div id="main_container" class="clearfix">
				  <div id="main">
				  	<%= yield %>
				  </div>
				</div>
			</div>
		
	</body>
</html>
